.employee-list-section {
    margin: 1rem 0;
    
    .card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 1200px;  // Giới hạn chiều rộng tối đa của bảng
        margin: 0 auto;     // Căn giữa bảng
        
        .card-title {
            color: #2c3e50;
            font-size: 1.8rem;  // Tăng font size tiêu đề
            font-weight: 600;
            margin-bottom: 1rem;
            padding: 0.5rem 1rem;
        }

        .table {
            margin-bottom: 0;
            font-size: 1.1rem;  // Tăng font size cho nội dung bảng
            
            th {
                background-color: #343a40;
                color: #fff;
                font-weight: 600;
                vertical-align: middle;
                white-space: nowrap;
                padding: 0.6rem;
                font-size: 1.2rem;  // Tăng font size cho header
            }

            td {
                vertical-align: middle;
                padding: 0.6rem;
                white-space: nowrap;
            }

            tbody tr {
                &:hover {
                    background-color: #f8f9fa;
                }
            }

            .text-end {
                text-align: right;
            }
        }
    }

    .table-responsive {
        margin-top: -64px;  // Giảm chiều cao tối đa của bảng
        overflow-y: auto;
    }
}